/* Details Tag area */

.details-tag-area {}

.social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include responsive(xxs) {
        display: block;
    }
    .share-tiitle {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
    ul {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 15px;
        li {
            a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                font-size: 18px;
                color: $white;
                @include responsive(allPhone) {
                    height: 35px;
                    width: 35px;
                    font-size: 16px;
                }
            }
        }
    }
}

.tag-border {
    border-bottom: 2px solid $STEAM;
    padding-bottom: 60px;
}

.tag-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @include responsive(allPhone) {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .tag-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
    ul {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 15px;
        li {
            a {
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                padding: 7px 18px;
                background: var(--main-color-one);
                color: $white;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                @include responsive(allPhone) {
                    padding: 7px 20px;
                }
                @include responsive(xxs) {
                    padding: 5px 15px;
                }
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                }
                &.bg-color-two {
                    background: var(--main-color-two);
                }
                &.bg-color-three {
                    background: var(--main-color-three);
                }
                &.bg-color-four {
                    background: var(--main-color-four);
                }
            }
        }
    }
}