/* Flash Sale */

.flash-sale-area {}

.section-top-shape {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    @include responsive(allPhone) {
        top: -15px;
    }
    @include responsive(vxxs) {
        top: -10px;
    }
    img {
        width: 100%;
    }
}

.section-bottom-shape {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    @include responsive(allPhone) {
        bottom: -3px;
    }
    @include responsive(sm) {
        bottom: -6px;
    }
    @include responsive(vxxs) {
        bottom: -8px;
    }
    img {
        width: 100%;
    }
}

.flash-sale-wrapper {
    position: relative;
    z-index: 1;
    &.discount-sale {
        position: relative;
        z-index: 2;
        .flash-sale-contents {
            padding: 83px 0 85px 130px;
            @include responsive(xxl) {
                padding: 80px 0 80px 50px;
            }
            @include responsive(xl) {
                padding: 80px 0 80px 30px;
            }
            @include responsive(lg) {
                padding: 80px 0 80px 30px;
            }
            @include responsive(allPhone) {
                padding: 100px 0 100px 30px;
            }
            @include responsive(xxs) {
                padding: 70px 0 70px 30px;
            }
            @include responsive(vxxs) {
                padding: 70px 0 70px 10px;
            }
            .flas-sale-title {
                font-size: 70px;
                line-height: 85px;
                @include responsive(allPhone) {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
        .flash-sale-image {
            right: 90px;
            @include responsive(xxl) {
                right: 30px;
            }
            @include responsive(xl) {
                right: 10px;
            }
            @include responsive(lg) {
                right: 5px;
            }
            @include responsive(allPhone) {
                right: 10px;
            }
            @include responsive(sm) {
                right: 0px;
            }
        }
        .discount-shapes {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

.flash-sale-contents {
    padding: 150px 0 125px 160px;
    max-width: 750px;
    &.style-02 {
        margin-left: auto;
        padding: 150px 210px 125px 0px;
        @include responsive(xxl) {
            padding: 150px 30px 150px 130px;
        }
        @include responsive(xl) {
            padding: 150px 30px 150px 130px;
        }
        @include responsive(lg) {
            padding: 120px 0px 120px 0px;
        }
        @include responsive(allPhone) {
            padding: 80px 0px 100px 30px;
        }
        @include responsive(xxs) {
            padding: 80px 0px 100px 10px;
        }
    }
    @include responsive(lg) {
        padding: 100px 0 100px 30px;
        max-width: 500px;
    }
    @include responsive(allPhone) {
        max-width: 100%;
        padding: 80px 0 100px 30px;
    }
    @include responsive(xxs) {
        max-width: 100%;
        padding: 80px 0 100px 10px;
    }
    .flas-sale-title {
        font-size: 100px;
        line-height: 100px;
        @include responsive(lg) {
            font-size: 80px;
            line-height: 80px;
        }
        @include responsive(allPhone) {
            font-size: 70px;
            line-height: 70px;
        }
        @include responsive(xs) {
            font-size: 60px;
            line-height: 60px;
        }
        @include responsive(xxs) {
            font-size: 50px;
            line-height: 50px;
        }
    }
    .flash-btn {
        margin-top: 45px;
        @include responsive(allPhone) {
            margin-top: 20px;
        }
        .flash-store {
            font-size: 20px;
            font-weight: 500;
            transition: $transition;
            color: var(--main-color-one);
            display: flex;
            align-items: center;
            gap: 10px;
            @include responsive(allPhone) {
                font-size: 16px;
            }
            @include responsive(xxs) {
                font-size: 15px;
            }
            @include responsive(vxxs) {
                font-size: 14px;
            }
            &::before {
                content: "\f061";
                font-family: 'Line Awesome Free';
                font-weight: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--heading-color);
                color: $white;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                font-size: 30px;
                transition: $transition;
                @include responsive(allPhone) {
                    height: 40px;
                    width: 40px;
                    font-size: 24px;
                }
                @include responsive(vxxs) {
                    height: 30px;
                    width: 30px;
                    font-size: 20px;
                }
            }
            &:hover {
                color: var(--main-color-one);
                &::before {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
            &.color-two {
                color: var(--main-color-two);
                &:hover {
                    color: var(--main-color-two);
                    &::before {
                        background: var(--main-color-two);
                        color: $white;
                    }
                }
            }
            &.color-three {
                color: var(--main-color-three);
                &:hover {
                    color: var(--main-color-three);
                    &::before {
                        background: var(--main-color-three);
                        color: $white;
                    }
                }
            }
            &.color-four {
                color: var(--main-color-four);
                &:hover {
                    color: var(--main-color-four);
                    &::before {
                        background: var(--main-color-four);
                        color: $white;
                    }
                }
            }
        }
    }
}

.flash-sale-image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
        height: 100%;
    }
    @include responsive(xs) {
        display: none;
    }
    &.style-02 {
        right: auto;
        left: 200px;
        @include responsive(xxl) {
            left: 100px;
        }
        @include responsive(xl) {
            left: 20px;
        }
        @include responsive(lg) {
            left: 20px;
            height: 100%;
        }
        @include responsive(allPhone) {
            left: 100px;
        }
    }
}

.flash-wave-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    img {
        width: 100%;
    }
}

.flash-middle-shapes {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    @include responsive(allPhone) {
        bottom: 50%;
        transform: translateY(50%);
    }
    &.style-02 {
        @include responsive(allPhone) {
            bottom: 0;
            transform: unset;
        }
    }
}

.sale-offer {
    font-size: 54px;
    line-height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 192px;
    width: 192px;
    color: $white;
    border-radius: 50%;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    animation: 5s floating linear infinite;
    &.style-02 {
        font-size: 36px;
        line-height: 50px;
        right: auto;
        left: 220px;
        top: 70%;
        @include responsive(xxl) {
            left: 100px;
        }
        @include responsive(xl) {
            font-size: 32px;
            line-height: 40px;
            left: 50px;
        }
        @include responsive(lg) {
            font-size: 32px;
            line-height: 40px;
            left: 50px;
            top: 50%;
            height: 185px;
            width: 185px;
        }
        @include responsive(allPhone) {
            font-size: 28px;
            line-height: 36px;
        }
        @include responsive(xxs) {
            font-size: 26px;
            height: 130px;
            width: 130px;
            line-height: 32px;
        }
        @include responsive(vxxs) {
            font-size: 22px;
            height: 110px;
            width: 110px;
            line-height: 28px;
        }
    }
    &.style-03 {
        font-size: 36px;
        line-height: 50px;
        @include responsive(xl) {
            font-size: 32px;
            line-height: 40px;
        }
        @include responsive(lg) {
            font-size: 32px;
            line-height: 40px;
        }
        @include responsive(allPhone) {
            font-size: 28px;
            line-height: 36px;
        }
        @include responsive(xxs) {
            font-size: 26px;
            height: 130px;
            width: 130px;
            line-height: 32px;
        }
        @include responsive(vxxs) {
            font-size: 22px;
            height: 110px;
            width: 110px;
            line-height: 28px;
        }
    }
    @include responsive(lg) {
        top: 30px;
        right: 30px;
        transform: unset;
    }
    @include responsive(allPhone) {
        position: initial;
        margin-left: 30px;
        font-size: 40px;
        height: 150px;
        width: 150px;
        line-height: 50px;
    }
    @include responsive(xxs) {
        font-size: 30px;
        height: 100px;
        width: 100px;
        line-height: 36px;
    }
    @include responsive(xxs) {
        margin-left: 10px;
    }
}